<div class="sidebar-affix affix">
	<div class="node-toc">
    	<div id="scr-toc" class="panel-content src-toc">
	    	{% include 'ScribeSwimBundle:Toc:list.html.twig' with {'toc_heads': toc_heads, 'prev': null} only %}
	    </div>
    </div>
</div>
