<ul class="nav">
	{% for index, item in toc_heads %}
		<li>
			<a href="#{{ item['id'] }}">{{ item['text']|raw }}</a>
			{% if item['subs']|length > 0 %}
				{% include 'ScribeSwimBundle:Toc:list.html.twig' with {'toc_heads': item['subs'], prev: prev ~ index} only %}
			{% endif %}
		</li>
	{% endfor %}
</ul>
